h1 {
    color: rgb(5, 5, 5);
    background-color: darkorchid;
    width: 490px;
}
h2 {
    color: rgb(5, 5, 5);
    background-color: rgb(172, 101, 207);
    width: 490px;
}
p  {
    background-color: rgb(133, 73, 125);
    color: rgb(5, 5, 5);
    width: 600px;
}
img {
    border-radius: 30px;
}